<form ng-controller='addController' role="form">
  <div class="form-group">
    <label for="url">Image Url:</label>
    <input type="text" class="form-control" id="url" ng-model="image">
  </div>

  <div class="form-group">
    <label for="tags">Tag:</label>
    <input type="text" class="form-control" id="tags" ng-model="imageTag">
  </div>

  <div class="form-group">
    <label for="desc">Description:</label>
    <textarea class="form-control" rows="5" id="desc" ng-model="imageDescription"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" ng-click="addImage()">Submit</button>
  <div style='clear:both'></div>
</form>


