<style>
   #search-results-wrapper {
    text-align: center;
   }
   .image-wrapper {
    position: relative;
    margin:0 auto;
    height:auto;
    width:400px;
   }

   .image-wrapper img {
    display: block;
    width: 400px;
    height: auto;
   }

   .image-description {
    background: white;
    width:100%;
    position: absolute;
    left:0px;
    bottom: 0px;
   }

</style>

<form ng-controller='searchController' role="form">
  <div class="form-group">
    <label for="search">Search Image</label>
    <input type="text" class="form-control" id="search" ng-model="searchTag">
  </div>

  <button type="submit" class="btn btn-primary" ng-click="searchImage()">Submit</button>
  <div style='clear:both'></div>
</form>

<div id='search-results-wrapper'>
  
  <div class='image-wrapper'>
    <img ng-model="imageUrl" src='{{ imageUrl }}'/>
    <p class='image-description' ng-model="description">{{ description }}</p>
  </div>

</div>

